/* Estilos para el pie de página */
/* ------------------------------------ */
/* Block: footer */
.footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    color: #333;
  }
  
  .footer__social-icons {
    margin-top: 20px;
  }
  
  .footer__social-icon {
    margin-right: 10px;
  }
  
  .footer__social-icon img {
    width: 30px;
  }