#Dark {
  background-color: #0c0b0b;
}

#Dark .layout{
  background-color: #0c0b0b44;
}

/*----- Navbar *-----/
  /* ------------------------------------ */
/* Inicio DarkMode */
#Dark .navbar {
  color: #fafafa;
}

#Dark .navbar__links {
  /* Estilos para los enlaces dentro de la barra de navegación en modo oscuro */
  color: #fafafa;
}

#Dark .navbar__app-name {
  /* Estilos para el nombre de la aplicación en modo oscuro */
  color: #fafafa;
}

#Dark .navbar__link {
  /* Estilos para los enlaces de la barra de navegación en modo oscuro */
  color: #fafafa;
}

#Dark .navbar__link-cerrar-sesion{
  color: #fff;
}

/* Fin del DarkMode */

/* Inicio del Light */

/* ----- Fin de la navbar ----- */

/* ----- HomePag ----- */

/* Inicio del DarkMode */
/* Estilos para modo oscuro */

#Dark .home__main-content{
  background-color: rgb(23 27 51 / 39%);
}
#Dark .home {
  background-color: #0c0b0b; /* Fondo oscuro */
  color: #fafafa; /* Texto claro */
  /* Otros estilos específicos para el modo oscuro */
}

#Dark .home__title {
  color: #fafafa; /* Color del título */
}

#Dark .home__description {
  color: #fafafa; /* Color de la descripción */
}

#Dark .home__register-button {
  background-color: #0077b6; /* Color del botón */
  color: #fafafa; /* Color del texto del botón */
  /* Otros estilos específicos para el botón en modo oscuro */
}

/* Otros estilos para las tarjetas de características */
#Dark .home__feature-card {
  background-color: rgb(23 27 51 / 39%);
}

#Dark .home__feature-title{
  color: #fff;
}


#Dark .home__feature-description{
  color: #fff; 
}


/* Fin del Darkmode */

/* Inicio Del Light */
/* Estilos para el modo de luz */
#Light .home {
  color: #363434; /* Texto oscuro */
  /* Otros estilos específicos para el modo de luz */
}

#Light .home__main-content{
  background-color: rgb(255, 255, 255)
}

#Light .home__title {
  color: #363434; /* Color del título */
}

#Light .home__description {
  color: #363434; /* Color de la descripción */
}

#Light .home__register-button {
  background-color: #0077B6; /* Color del botón */
  color: #fafafa; /* Color del texto del botón */
  /* Otros estilos específicos para el botón en modo de luz */
}

/* Otros estilos para las tarjetas de características */
#Light .home__feature-card {
  background-color: #ffffff; /* Fondo de las tarjetas */
  color: #363434; /* Color del texto en las tarjetas */
  /* Otros estilos específicos para las tarjetas en modo de luz */
}
/* Fin del Light */
/* ----- Fin de la HomePag ----- */

/* ----- Footer ----- */
#Dark .footer__copyright{
  color: #fff;
}
/* ----- Fin del Footer ----- */

/* ----- Login ----- */

#Dark .login-form {
  background-color:  rgb(23 27 51 / 39%);
  color: #fff;
}

#Dark .login-form__header {
  bottom: 1px solid #333;
}

#Dark .login-form__title {
  color: #fff;
}

#Dark .login-form__subtext {
  color: #ccc;
}

#Dark .login-form__input-label {
  bottom: 1px solid #333;
}

#Dark .login-form__input {
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
}

#Dark .login-form__submit-button {
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
}

#Dark .login-form__registro {
  color: #ccc;
}

#Dark .login-form__registro a {
  color: #fff;
}

#Light .login-form {
  background-color: #fff;
  color: #000;
}


#Light .login-form__title {
  color: #000;
}

#Light .login-form__subtext {
  color: #666;
}


/* ----- Fin del Login ----- */

/* ----- Register ----- */
#Dark .contenedor {
  background-color:  rgb(23 27 51 / 39%);
  color: #fff;
}

#Dark .login-form__titulo {
  color: #fff;
}

#Dark .login-form__descripcion {
  color: #ccc;
}

#Dark .login-form__input {
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
}

#Dark .login-form__btn {
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
}

#Dark .login-form__registro {
  color: #ccc;
}

#Dark .login-form__registro a {
  color: #fff;
}

/* ----- Fin del register ----- */

/* ----- Taskform----*/
#Dark .container__title__form_Task{
  color: #fff;
}

#Dark .namePerson{
  color: #fff;
}

#Dark .label__fecha__finalizacion_Task {
  Color: #fff; 
}

/*----Cerrar sesion*/ 

#Dark .modalContainer{
  background-color: #111010;;
}

#Dark .modalContainer .footer{
  background-color: #111010;
}

/*----Cards----*/
#Dark .card{
  background-color:  rgb(23 27 51 / 39%);
}

#Dark .card__task{
  background-color: #111010;
}

#Dark .card__task-name{
  color: #fff;
}

#Dark .card__task-description{
  color: #fff;
}

#Dark .card__task-date {
  color: #fafafa;
}

#Dark .footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}